.container_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--white-opacity-8);
  background: var(--layout-bg-color);
}

.container_header {
  color: #888;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 12px;
  border-bottom: 1px solid var(--white-opacity-8);
  background: var(--layout-bg-color);
  border-radius: 8px 8px 0 0;
}

.container_tab_header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 8px;
  border-bottom: 1px solid var(--white-opacity-8);
  cursor: pointer;
}

.tab_item, .tab_item_selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  gap: 8px;
  border-radius: 8px;
}

.tab_item_selected {
  background: rgb(255 255 255 / 6%);
}
