body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-top: 50px;
}

a {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}