
export AI_DEVELOPER_GITNESS_URL=http://gitness:3000
export AI_DEVELOPER_GITNESS_HOST=gitness:3000

export AI_DEVELOPER_GITNESS_PASSWORD=Tattaa7@
export AI_DEVELOPER_GITNESS_USER=businistry

export AI_DEVELOPER_APP_URL=http://localhost:3000

export AI_DEVELOPER_WORKSPACE_WORKING_DIR=/workspaces
export AI_DEVELOPER_WORKSPACE_SERVICE_ENDPOINT=http://ws:8080

export NEW_RELIC_ENABLED=false