export AI_DEVELOPER_GITNESS_URL=http://gitness:3000
export AI_DEVELOPER_GITNESS_HOST=gitness:3000
export AI_DEVELOPER_GITNESS_TOKEN=
export AI_DEVELOPER_GITNESS_PASSWORD=
export AI_DEVELOPER_GITNESS_USER=gitness

export AI_DEVELOPER_APP_URL=http://localhost:3000

export AI_DEVELOPER_WORKSPACE_WORKING_DIR=/workspaces
export AI_DEVELOPER_WORKSPACE_SERVICE_ENDPOINT=http://ws:8080

export NEW_RELIC_ENABLED=false

export AI_DEVELOPER_AWS_ENDPOINT=
export AI_DEVELOPER_AWS_BUCKET_NAME=
export AI_DEVELOPER_AWS_REGION=us-west-2
export AI_DEVELOPER_AWS_ACCESS_KEY_ID=
export AI_DEVELOPER_AWS_SECRET_ACCESS_KEY=
