# Rust
target/

# Node
node_modules/
dist/
*.tsbuildinfo

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work

# Bazel
bazel-*

# IDE / editor
.idea/
*.swp
*.swo
*.swn
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
.envrc
